/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  background-color: white;
  padding: 0;
  margin: 0;
  display: block;
}


#cup {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}

#crack {
  display: none;
  z-index: 3;
  position: absolute;
  top: 200px;
  left: 400px;
}

.generatedCrack{
  z-index: 8;
  position: absolute;
}
